.category-text{
    color:  #262626;
text-align: center;

/* text-sm/leading-5/font-normal */
font-family: Inter;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 1.25rem; /* 142.857% */
}

.headline::after {
    bottom: -10px;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    background: #068FFF;
    transition: width 0.2s ease 0s, left 0.1s ease 0s;
    width: 4.22788rem;
    height: 0.25rem;
    border-radius: 0.625rem;
  }